.container 
    .dark
    aside.copyright Copyright © 2023 OVANSE
    main.content 
        h1.header Site under construction  
        section.description Coming<br>Soon
        section.counter 
            .counter__item.item
                .item__title days
                .item__digits 00
            .counter__item.item
                .item__title hours
                .item__digits 00
            .counter__item.item
                .item__title minutes
                .item__digits 00
            .counter__item.item
                .item__title seconds
                .item__digits 00
