.container
    main.content 
        .header
            h1 Site under construction  
        .description Coming<br>Soon
        .counter 
            .counter__item.item
                .item__title days
                .item__digits.daysDigits 00
            .counter__item.item
                .item__title hours
                .item__digits.hoursDigits 00
            .counter__item.item
                .item__title minutes
                .item__digits.minutesDigits 00
            .counter__item.item
                .item__title seconds
                .item__digits.secondsDigits 00
    aside.copyright 
        | Copyright © 
        span 2023  
        |  OVANSE
