.container
    main.content 
        .header
            h1(data-translate data-lang="k_main") Site under construction  
        .description(data-translate data-lang="k_soon") Coming<br>Soon
        .counter 
            .counter__item.item
                .item__title(data-translate data-lang="k_days") days
                .item__digits.daysDigits 00
            .counter__item.item
                .item__title(data-translate data-lang="k_hours") hours
                .item__digits.hoursDigits 00
            .counter__item.item
                .item__title(data-translate data-lang="k_minutes") minutes
                .item__digits.minutesDigits 00
            .counter__item.item
                .item__title(data-translate data-lang="k_seconds") seconds
                .item__digits.secondsDigits 00
    aside.copyright 
        | Copyright © 
        span 2023  
        |  OVANSE
