- var pageTitle = 'OvAnSe - Coming Soon Page'

doctype html
html(lang="ru")
  include includes/head
  body
    //- include includes/header
    include includes/main_index
    //- include includes/footer
    //- include includes/scripts