body {
    background: url(../img/01.webp) 50% 50% / cover no-repeat fixed;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: $white-color;
    .container {
        background: rgba(11, 11, 11, 0.5);
        min-height: 100vh;
        position: relative;
        .dark {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100vh;
            min-width: 100%;
            background: linear-gradient(
                110deg,
                rgba(0, 0, 0, 0.75) 0%,
                rgba(0, 0, 0, 0.75) 70%,
                rgba(255, 255, 255, 0) 70.2%,
                rgba(255, 255, 255, 0) 100%
            );
            min-height: 100vh;
        }
        .copyright {
            font-size: 16px;
            color: #1c1c1c;
            bottom: 20px;
            right: 20px;
            padding: 10px 40px;
            position: absolute;
            background: linear-gradient(
                110deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 7%,
                rgba(255, 255, 255, 0.75) 7.5%,
                rgba(255, 255, 255, 0.75) 100%
            );
            text-align: center;
            width: 500px;
        }
        .content {
            align-items: center;
            margin-left: -300px;
            position: relative;
            z-index: 100;
            display: flex;
            flex-direction: column;
            .header {
                font-size: 80px;
                margin-top: 100px;
                line-height: 1;
            }
            .description {
                border-top: 3px solid $white-color;
                border-bottom: 3px solid $white-color;
                font-size: 140px;
                font-weight: 700;
                margin-top: 70px;
                text-align: center;
                line-height: 1;
                padding: 60px;
            }
            .counter {
                margin-top: 50px;
                display: flex;
                &__item {
                    margin: 0 40px;
                    text-align: center;
                }
                .item {
                    &__title {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    &__digits {
                        border-top: 2px solid $white-color;
                        font-size: 80px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
