body {
    background: url(../img/01.webp) 50% 50% / cover no-repeat fixed;
    color: $white-color;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    .container {
        align-items: center;
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 20px;
        min-height: 100vh;
        .content {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            .header {
                h1 {
                    font-size: 30px;
                    margin-top: 50px;
                }
            }
            .description {
                border-top: 3px solid $white-color;
                border-bottom: 3px solid $white-color;
                font-size: 60px;
                font-weight: 700;
                margin-top: 70px;
                text-align: center;
                padding: 20px;
            }
            .counter {
                margin-top: 50px;
                display: flex;
                &__item {
                    margin: 0 15px;
                    text-align: center;
                }
                .item {
                    &__title {
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                    &__digits {
                        border-top: 2px solid $white-color;
                        font-size: 40px;
                        font-weight: 700;
                    }
                }
            }
        }
        .copyright {
            background: rgba(255, 255, 255, 0.75);
            border-radius: 5px;
            box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
            color: #1c1c1c;
            font-size: 16px;
            margin-top: 50px;
            padding: 10px 10px;
            text-align: center;
            width: 70%;
        }
    }
}
